@font-face {
    font-family: custom;
    src: url(digital-7\ \(mono\ italic\).ttf);
}
*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
}

.container{
    margin:40px;
    margin-left:400px;
    padding:20px;
    border: black solid 1px;
    /* max-width:250px; */
    width: 380px;
    background-color: rgba(19, 18, 18, 0.678);

}
.container >div{
    margin-bottom: 5px;
    
}
input[type="text"]{
    width:250px;
    height:35px;
    margin-bottom: 20px;
    background-color: rgb(36, 37, 37);
    color: rgb(216, 245, 86);
    font-family: custom;
    font-size: 28px;
}
button{
    width:60px;
    height:40px;
    margin-right: 20px;
    margin-bottom: 5px;
}
#ac{
    margin-left: 4px;
    background-color: rgb(113, 236, 113);
}
.calc{
    margin-top: 50px;
    margin-left:400px;
    font-family: cursive;
    font-size: 25px;
}